
/**
* Defines main variables
*/


/**
* Joins the partial files
*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

head, main, nav, footer{
  padding-left: 300px;
  @media only screen and (max-width: 992px){
    padding-left: 0px;
  }
}

main {
  flex: 1 0 auto;
}

.logo-icon{
  padding-top: 10px;
}

footer.page-footer {
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  bottom: 0;
  z-index: 2;   
}