<footer class="page-footer blue darken-4">
  
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.7";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  

  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">PET - Tecnologia da Informação</h5>
        <div class="fb-like" data-href="https://www.facebook.com/PET-Tecnologia-da-Informa%C3%A7%C3%A3o-Quixad%C3%A1-325899547441022/?fref=ts"
          data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>  
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 PET - Tecnologia da Informação
    </div>
  </div>
</footer>