<script>
   $(".button-collapse").sideNav();
</script>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Agenda UFC</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a ui-sref="#">Hoje</a></li>
        <li><a ui-sref="#">Semana</a></li>
        <li><a ui-sref="#">Mês</a></li>
        <li><a ng-show="!auth" ui-sref="login" class="waves-effect waves-light btn">Login</a></li>
        <li><a ng-show="auth" ui-sref="app" class="waves-effect waves-light btn">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a ui-sref="#">Hoje</a></li>
        <li><a ui-sref="#">Semana</a></li>
        <li><a ui-sref="#">Mês</a></li>
        <li><a ng-show="!auth" ui-sref="login" class="waves-effect waves-light btn">Login</a></li>
        <li><a ng-show="auth" ui-sref="app" class="waves-effect waves-light btn">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>