<!-- <ul class="side-nav fixed blue" id="mobile-demo">
  <li class="center"><img class="logo-icon left" src="../img/icone.png"><a href="#" class="brand-logo left center">Agenda UFC</a></li>
  <li><a ng-show="!auth" ui-sref="login" class="waves-effect waves-light btn blue darken-4 white-text">Login</a></li>
  <li><a ng-show="auth" ng-click="logout()" class="waves-effect waves-light btn blue darken-4 white-text">Logout</a></li>
</ul> -->

<div class="side-nav fixed grey darken-3" id="mobile-demo">
  <div class="row valign-wrapper grey darken-4 nav-lateral-logo">
    <div class="col s3">
      <img class="logo-icon" src="../img/icone.png">
    </div>
    <div class="col s9">
      <a href="#" class="valign white-text logo">Agenda UFC</a>
    </div>
  </div>
  <ul class="menu-principal ">
    <li><a ui-sref="home" class="white-text ">Hoje</a></li>
    <li><a href="" class="white-text ">Semana</a></li>
    <li><a href="" class="white-text ">Mês</a></li>
    <li ng-show="!auth"><a ui-sref="login({name:'login'})"  class="white-text">Login</a></li>
    <li ng-show="auth"><a  ng-click="logout()" class="white-text">Logout</a></li>
  </ul>
</div>
<!--
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue darken-4">
      <a href="#" class="brand-logo center">Agenda UFC</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>
</div> -->
