<script>
  $(".button-collapse").sideNav();
  $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>
<ul ng-show="!auth" class="tabs blue">
  <li class="tab col s3 disabled"><a class="white-text" href="#hoje">Hoje</a></li>
  <li class="tab col s3"><a class="white-text active" href="#semana">Semana</a></li>
  <li class="tab col s3 disabled"><a class="white-text" href="#mes">Mês</a></li>
  <div class="indicator white" style="z-index:1"></div>
</ul>

<div ng-init="init()">
  <div class="row">

    <div id="hoje">
      <h2>Eventos do dia</h2>
    </div>

    <div id="semana">
      <div ng-repeat="atividade in atividades" class="col s12 m4">
        <div class="card small">
          <div class="card-image">
            <img ng-if="atividade.imagens.length > 0" ng-src="{{imageAddress + atividade.imagemPrincipal}}">
          </div>
          <div class="card-content">
            <span style="font-size:16px;">{{atividade.nome}}</span>
          </div>
          <div class="card-action">
            <a ui-sref="atividade-detalhes({atividadeId: atividade._id})" class="btn blue">Detalhes</a>
          </div>
        </div>
      </div>
    </div>

    <div id="mes">
      <h2>Eventos do mês</h2>
    </div>

    <div ng-show="user.editor" class="fixed-action-btn horizontal click-to-toggle" style="bottom: 60px; right: 24px;">
      <a class="btn-floating btn-large blue">
        <i class="material-icons">menu</i>
      </a>
      <ul>
        <li><a class="btn-floating red" ui-sref="atividades-minhas({minhasAtividades : 'minhasAtividades'})"><i class="material-icons">today</i></a></li>
        <li><a class="btn-floating green" ui-sref="cadastro-local"><i class="material-icons">location_on</i></a></li>
      </ul>
    </div>

  </div>
</div>
