<div class="container" ng-init="init()">

    <h2>{{atividade.nome}}</h2>


    <div class="slider" ng-if="atividade.imagens.length > 0">
        <ul class="slides">
            <div ng-repeat="imagem in atividade.imagens">
                <li>
                  <!-- BUG: A imagem carrega normal, mas parece que o slider
                não funciona. Até o exemplo do materialize fica com o mesmo fundo cinza
              daqui. -->
                    <img ng-src="{{imageAddress + imagem}}" alt=""/>
                    <div class="caption center-align">
                      <h3>{{$index}}</h3>
                    </div>
                </li>
            </div>
        </ul>
    </div> -
    <p><b>Descrição: </b>{{atividade.descricao}}</p>
    <p><b>Categoria: </b>{{atividade.categoria}}</p>
    <p><b>Local: </b>{{atividade.local.nome}} - {{atividade.local.descricao}}</p>
    <p><b>Tags: </b></p>
    <div >
        <div class="chip" ng-repeat="tag in atividade.tags">
          {{tag}}
        </div>
    </div>
    <p ng-if="atividade.horarios.length > 0">
        <b>Horários: </b>
        <div ng-repeat="horario in atividade.horarios">
            {{horario}}
            <br>
        </div>
    </p>
    <p>
        <div ng-repeat="tag in tags">
            <span class="new badge blue">{{tag}}</span>
        </div>
    </p>
    <a ng-if="atividade." href="cadastro-imagem-atividade/{{atividade._id}}"></a>
    </div>

</div>
