<div class="container" ng-init="init()">
    
    <div id="erroLoginModal" class="modal">
        <div class="modal-content">
            <h4>Erro ao efetuar login</h4>
            <p>Usuário ou senha incorretos.</p>
        </div>
        <div class="modal-footer">
            <a ng-click="$('#erroLoginModal').closeModal();" class="modal-action modal-close waves-effect waves-orange btn-flat">Ok</a>
        </div>
    </div>

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Usuário" id="first_name" type="text" class="validate" ng-model="usuario">
                    <label for="first_name">Usuário</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" ng-model="senha">
                    <label for="password">Senha</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="waves-effect waves-light btn blue" ng-click="login(usuario, senha)">Entrar</button>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <a class="waves-effect waves-light btn green" ui-sref="cadastro">Registrar</a>
                </div>
            </div>
        </form>
    </div>

</div>
