<div class="container" ng-init="init()">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Nome" id="first_name" type="text" class="validate" ng-model="atividade.nome">
                    <label for="first_name">Nome</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Descrição" id="first_name" type="text" class="validate" ng-model="atividade.nome">
                    <label for="first_name">Descrição</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Selecione</option>
                        <option value="Células">Células</option>
                        <option value="Monitoria">Monitoria</option>
                        <option value="Extras">Extras</option>
                    </select>
                    <label>Categoria</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Selecione</option>
                        <div ng-repeat="local in locais">
                            <option value="local._id">{{local.nome}}</option>
                        </div>
                    </select>
                    <label>Local</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Site" id="first_name" type="text" class="validate" ng-model="atividade.site">
                    <label for="first_name">Site</label>
                </div>
            </div>
            <div class="row">
                <div class="file-field input-field">
                    <div class="btn blue">
                        <span>Selecionar</span>
                        <input type="file" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Selecione uma ou mais imagens">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="waves-effect waves-light btn blue" ng-click="cadastrarAtividade(atividade)">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>

</div>

<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>