<div class="container" ng-init="init()">    <!-- FIXME: Ainda não faz uploads. Precisa dos parametros de flow-init antes -->

  <a class="modal-trigger waves-effect waves-light btn" href="#modal">Modal</a>


  <div id="modal" class="modal">
    <div class="modal-content">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <h4>Enviando imagens</h4>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

  <form>
    <div class="row"
    flow-object="flowInstance"
    flow-init
    flow-complete="uploadCompleto()"
      flow-file-success="$file.msg = $message" >
      <button type="button" class="btn blue input-field file-field">
        Enviar Imagens
        <i class="material-icons left">collections</i>
        <input type="file"  flow-btn>
      </button>
      <div class="row">
        <div class="col s3" ng-repeat="file in $flow.files">
          <div class="card" ng-class="cardSelecionado(this)" >
            <div class="card-image">
              <!-- FIXME: JORDY: O tamanho da imagem aqui é setado hardcoded.
              Eu quem fiz e o resultado é satisfatório, mas não gostei do método  -->
              <img height="300" flow-img="file" alt="" />
            </div>
            <div class="card-content">
              <p>
                <span class="truncate">{{file.name}}</span><br>
                Tamanho: <span>{{file.size/1024 | number: 0 }} KB</span><br>
                {{file.msg}}
              </p>
              <div class="progress">
                <div class="determinate"
                ng-style="{width: (file.progress() * 100) + '%'}"></div>
              </div>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn red"
              ng-click="file.cancel()">Remover</a>
            </div>
          </div>
        </div>
      </div>
      <div class="input-field col s12">
        <button class="waves-effect waves-light btn blue"
         ng-click="uploadImagens()">Enviar Imagens</button>
      </div>
    </div>
  </form>
</div>
