<div class="container" ng-init="init()">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Nome" id="nome" type="text" class="validate" ng-model="atividade.nome">
                    <label for="nome">Nome</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Descrição" id="descricao" type="text" class="validate" ng-model="atividade.descricao">
                    <label for="descricao">Descrição</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select ng-model="atividade.cartegoria">
                        <option value="" disabled selected>Selecione</option>
                        <option value="Células">Células</option>
                        <option value="Monitoria">Monitoria</option>
                        <option value="Extras">Extras</option>
                    </select>
                    <label>Categoria</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select ng-model="atividade.local">
                        <option value="" disabled selected>Selecione</option>
                        <option ng-repeat="l in locais" value="{{l._id}}">{{l.nome}}</option>
                    </select>
                    <label>Local</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Site" id="site" type="text" class="validate" ng-model="atividade.site">
                    <label for="site">Site</label>
                </div>
            </div>

            <div class="row">
                <div class="chips chips-placeholder">
                    <input class="input" id="tags" placeholder="+Tag">
                </div>
            </div>
            <!-- FIXME: Ainda não faz uploads. Precisa dos parametros de flow-init antes -->
            <div class="row" flow-init >
                <!-- <div class="file-field input-field"> -->
                    <button type="button" class="btn blue input-field file-field">
                      Enviar Imagens
                        <i class="material-icons left">collections</i>
                        <input type="file"  flow-btn>
                    </button>
                    <!-- <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Selecione uma ou mais imagens" flow-btn flow-directory>
                    </div> -->
                <!-- </div> -->
                <div class="row">
                  <div class="col s3" ng-repeat="file in $flow.files">
                    <div class="card" >
                      <div class="card-image">
                        <!-- FIXME: JORDY: O tamanho da imagem aqui é setado hardcoded.
                            Eu quem fiz e o resultado é satisfatório, mas não gostei do método  -->
                        <img height="200" flow-img="file" alt="" />
                      </div>
                      <div class="card-content">
                        <p>
                          <span class="truncate">{{file.name}}</span><br>
                          Tamanho: <span>{{file.size/1024 | number: 0 }} KB</span>
                        </p>
                      </div>
                      <div class="card-action">
                        <a class="waves-effect waves-light btn red" ng-click="file.cancel()">Remover</a>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="waves-effect waves-light btn blue" ng-click="cadastrarAtividade(atividade)">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>

</div>
